//fonts
@import 'fonts/fonts.scss';

//varibles
@import 'varibles/varibles.scss';

//component-interface
@import 'components/banners.scss';
@import 'components/crumbs.scss';
@import 'components/feedback.scss';
@import 'components/right-aside.scss';
@import 'components/form.scss';
@import 'components/about-contact.scss';
@import 'components/block-text.scss';
@import 'components/img.scss';
@import 'components/video.scss';
@import 'components/hr.scss';
@import 'components/way-steps.scss';
@import 'components/mini-gallery.scss';
@import 'components/list-excellence.scss';
@import 'components/button.scss';
@import 'components/slider.scss';

//component
@import 'header/header';
@import 'section/blog/blog.scss';
@import 'section/state/state.scss';
@import 'section/contact/contact.scss';
@import 'section/service/service.scss';
@import 'section/partnership/partnership.scss';
@import 'section/company/company.scss';
@import 'section/gallery/gallery.scss';
@import 'section/program/program.scss';
@import 'section/diraction/diraction.scss';
@import 'section/main/main-page.scss';
@import 'footer/footer.scss';


body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

a,a:hover{
	text-decoration: none;
}

li{
	list-style-type: none;
}

ul {
	padding-left: 0;
	margin: 0;	
}

address {
	margin: 0;
}

h1,h2,h3,h4,p {
	margin: 0;
}

main {
	min-height: calc(100vh - 300px);
    overflow: hidden;
}


.margg-bot {
    @media (max-width: 768px) {
        margin-bottom: 70px;
    }
}

.margg-bot-sm {
    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
}

.margg-bot-xsm {
    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}