header {
    background: $backColorHeader;
    padding: 25px 0;
    margin-bottom: 30px;
    z-index: 9999;
    width: 100%;
    @media (max-width: 990px) {
        padding: 20px 0;
    }
    @media (max-width: 768px) {
        padding: 10px 0;
    }
    .wrapper-header {
        max-width: 1635px;
        margin: 0 auto;
        .menu-logo-container {
            display: flex;
            @media (max-width: 990px) {
                justify-content: space-between;
            }
            .logotype-box {
                margin-left: 80px;
                @media (max-width: 990px) {
                    display: flex;
                    justify-content: flex-end;
                }
                .logotype-link {
                    display: block;
                }
                .logotype-img {
                    @media (max-width: 768px) {
                        height: 50px;
                    }
                }
            }
        }
        .desktop-menu {
            display: flex;
            justify-content: flex-end;
            @media (max-width: 990px) {
                display: none;
            }
            li {
                padding: 15px;
                a {
                    font-family: Bebas-bold;
                    padding: 0;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    letter-spacing: .02em;
                    transition: 0.5s;
                    color: #fff;
                    white-space: nowrap;
                    &:hover{
                        background: linear-gradient(to bottom, #4eb724 0%,#fff 70%); 
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
            li:last-child{
                padding-right: 0;
            }
        }
    }
}

.menu-box {
    position: relative;
    @media (max-width: 1024px) {
        display: flex;
    }
    nav {
        position: absolute;
        left: -130px;
        @media (max-width: 1800px) {
            position: relative;
            left: 0;
        }
        .nav-btn {
            display: flex;
            position: relative;
            top: 10px;
            @media (max-width: 768px) {
                top: 5px;
            }
            .menu-active-text {
                font-family: "Rosa";
                position: relative;
                top: 8px;
                font-size: 2rem;
                opacity: .5;
                color: #fff;
                opacity: 0;
                @media (max-width: 1280px) {
                    display: none;
                }
            }
            .active-text-opacity {
                opacity: 1;
                @media (max-width: 1280px) {
                    display: none;
                }
            }
            .menu-button {
                position: relative;
                left: 15px;
                @media (max-width: 768px) {
                    left: 0;
                }
            }
        }
        .nav-box {
            font-family: "Bebas-medium";
            display: none;
            position: absolute;
            top: 118px;
            width: 160px;
            z-index: 9999;
            @media (max-width: 1800px) {
                width: 200px;
                left: -10px;
                top: 90px;
            }
            @media (max-width: 1200px) {
                top: 91px;
                z-index: 999;
            }
            @media (max-width: 990px) {
                top: 84px;
            }
            @media (max-width: 768px) {
                top: 60px;
            }
            &::before {
                @media (max-width: 1800px) {
                    content: '';
                    display: block;
                    height: 100vh;
                    width: 110vw;
                    background: linear-gradient(224.12deg, #204E5B 21.45%, #078981 60.19%, #36A987 99.72%);
                    position: absolute;
                    left: -100px;
                    top: 0;
                }
                @media (max-width: 1600px) {
                    content: '';
                    display: block;
                    height: 100vh;
                    width: 110vw;
                    background: linear-gradient(224.12deg, #204E5B 21.45%, #078981 60.19%, #36A987 99.72%);
                    position: absolute;
                    left: -30px;
                    top: 0;
                }
                @media (max-width: 768px) {
                    content: '';
                    width: 200vw;
                    left: -6px;
                }
                @media (max-width: 576px) {
                    content: '';
                    left: -10px;
                }
            }
            li {
                padding: 14px 0;
                @media (max-width: 1650px) {
                    padding: 14px 0 14px 25px;
                }
                a {
                    font-family: "Bebas-medium";
                    letter-spacing: 0.02em;
                    color: #078981;
                    font-size: 1.125rem;
                    opacity: .5;
                    @media (max-width: 1800px) {
                        color: #fff;
                    }
                    &:hover {
                        color: #0F5E47;
                        opacity: .7;
                        @media (max-width: 1800px) {
                            color: #fff;
                        }
                    }
                }
            }
            .focus-item {
                color: $mediumGreen;
                position: relative;
                left: 35px;
                font-size: 1.25rem;
                letter-spacing: .02em;
                padding: 0;
                @media (max-width: 1650px) {
                    margin: 10px 0 5px 25px;
                }
                @media (max-width: 1800px) {
                    color: #fff;
                }
                &::before {
                    content: "";
                    display: block;
                    height: 1.25px;
                    width: 28px;
                    position: absolute;
                    top: 15px;
                    left: -35px;
                    background: #000;
                    @media (max-width: 1800px) {
                        background: #fff;
                    }
                    @media (max-width: 768px) {
                        background: #fff;
                        top: 12px;
                    }
                }
            }
        }
    }
}

.bg-transparent {
    background: transparent;
    position: absolute;
    z-index: 9999;
    width: 100%;
    .menu-box {
        position: relative;
        @media (max-width: 1024px) {
            display: flex;
        }
        nav {
            position: absolute;
            left: -130px;
            @media (max-width: 1800px) {
                position: relative;
                left: 0;
            }
            .nav-btn {
                display: flex;
                position: relative;
                top: 10px;
                @media (max-width: 768px) {
                    top: 5px;
                }
                .menu-active-text {
                    font-family: "Rosa";
                    position: relative;
                    top: 8px;
                    font-size: 2rem;
                    color: #fff;
                    opacity: 0;
                    @media (max-width: 1280px) {
                        display: none;
                    }
                }
                .active-text-opacity {
                    opacity: 1;
                    @media (max-width: 1280px) {
                        display: none;
                    }
                }
                .menu-button {
                    position: relative;
                    left: 15px;
                    @media (max-width: 768px) {
                        left: 0;
                    }
                }
            }
            .nav-box {
                font-family: "Bebas-medium";
                display: none;
                position: absolute;
                top: 118px;
                width: 160px;
                z-index: 9999;
                @media (max-width: 1800px) {
                    width: 200px;
                    left: -10px;
                    top: 90px;
                }
                @media (max-width: 1200px) {
                    top: 91px;
                    z-index: 999;
                }
                @media (max-width: 990px) {
                    top: 84px;
                    z-index: 999;
                }
                @media (max-width: 768px) {
                    top: 60px;
                }
                &::before {
                    @media (max-width: 1800px) {
                        content: '';
                        display: block;
                        height: 100vh;
                        width: 120vw;
                        background: linear-gradient(224.12deg, #204E5B 21.45%, #078981 60.19%, #36A987 99.72%);
                        position: absolute;
                        left: -100px;
                        top: 0;
                    }
                    @media (max-width: 1600px) {
                        content: '';
                        display: block;
                        height: 100vh;
                        width: 120vw;
                        background: linear-gradient(224.12deg, #204E5B 21.45%, #078981 60.19%, #36A987 99.72%);
                        position: absolute;
                        left: -30px;
                        top: 0;
                    }
                    @media (max-width: 768px) {
                        content: '';
                        width: 200vw;
                        left: -6px;
                    }
                    @media (max-width: 576px) {
                        content: '';
                        left: -10px;
                    }
                    // @media (max-width: 1800px) {
                    //     content: '';
                    //     display: block;
                    //     height: 100vh;
                    //     width: 110vw;
                    //     background: linear-gradient(224.12deg, #204E5B 21.45%, #078981 60.19%, #36A987 99.72%);
                    //     position: absolute;
                    //     left: -30px;
                    //     top: 0;
                    // }
                    // @media (max-width: 768px) {
                    //     content: '';
                    //     width: 200vw;
                    //     left: -6px;
                    // }
                    // @media (max-width: 576px) {
                    //     content: '';
                    //     left: -10px;
                    // }
                }
                li {
                    padding: 14px 0;
                    @media (max-width: 1650px) {
                        padding: 14px 0 14px 25px;
                    }
                    a {
                        font-family: "Bebas-medium";
                        letter-spacing: .02em;
                        color: #fff;
                        font-size: 1.125rem;
                        opacity: .7;
                        @media (max-width: 1800px) {
                            color: #fff;
                        }
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }
                .focus-item {
                    color: #fff;
                    position: relative;
                    left: 35px;
                    font-size: 1.25rem;
                    letter-spacing: .02em;
                    padding: 0;
                    @media (max-width: 1650px) {
                        margin: 10px 0 5px 25px;
                    }
                    &::before {
                        content: "";
                        display: block;
                        height: 1.25px;
                        width: 28px;
                        position: absolute;
                        top: 15px;
                        left: -35px;
                        background: #fff;
                        @media (max-width: 768px) {
                            background: #fff;
                            top: 12px;
                        }
                    }
                }
            }
        }
    }
}

.ovef {
    overflow: hidden;
}

.header-fixed {
    position: fixed;
    background: $backColorHeader;
}