.contact {
    @media (max-width: 990px) {
        margin-bottom: 70px;
    }
    .contact-wrapper {
        max-width: 1575px;
        margin: 0 auto;
    }

    .contact-formMap {
        margin-bottom: 40px;
        @media (max-width: 990px) {
            margin: 0;
        }
        .map-armania {
            text-align: center;
            @media (max-width: 990px) {
                margin-bottom: 70px;
            }
        }
    }
    .contact-infoPhoto {
        .photo-armenia {
            position: relative;
            @media (max-width: 1500px) {
                left: -80px;
            }
            @media (max-width: 1200px) {
                display: none;
            }
            .photo-img {
                position: absolute;
                max-width: 100%;
            }
            .intresting {
                top: 300px;
                z-index: 2;
            }
            .armenia {
                top: 230px;
                left: 50%;
                z-index: -1;
            }
            .jorney {
                left: 10%;
                top: -50px;
                z-index: 2;
            }
            .adventure {
                left: 25%;
                z-index: 2;
            }
            .histori {
                top: 375px;
                left: 17%;
            }
        }
    }
}