$backColorButton: linear-gradient(161.74deg, #C83B48 43.77%, #FD4E5E 105.69%);

$backColorHeader: linear-gradient(183.57deg, #204E5B 16.16%, #078981 79.65%, #36A987 144.43%);

$backColorFooter: linear-gradient(170.04deg, #204E5B 48.1%, #078981 153.75%);

$darkGreen: #204E5B;
$mediumGreen: #078981;
$lightGreen: #1DA17D;

$lightRed: #FD4E5E;
$darkRed: #C83B48;