.gallery {
    margin-bottom: 40px;
    .gallery-wrapper {
        max-width: 1575px;
        margin: 0 auto;
    }
    .nav {
        margin-bottom: 30px;
        justify-content: space-between;
        @media (max-width: 1280px) {
            justify-content: center;
            margin-bottom: 20px;
        }
        .nav-link {
            display: block;
            font-family: "Bebas-medium";
            font-size: 1.2rem;
            padding: 20px 50px;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: $mediumGreen;
            background: linear-gradient(143.58deg, rgba(255, 255, 255, 0.1) 43.77%, rgba(254, 252, 252, 0.1) 105.69%);
            border: 1px solid rgba(7, 137, 129, .2);
            border-radius: 5px;
            opacity: .4;
            @media (max-width: 1600px) {
                margin: 10px;
            }
            @media (max-width: 1280px) {
                font-size: 1rem;
                padding: 15px 30px;
            }
            @media (max-width: 990px) {
                font-size: .87rem;
                padding: 10px 15px;
                margin: 5px;
            }
        } 
        .active {
            opacity: 1;
        }
    }
    .gellery-link-box {
        text-align: center;
        .gellery-link {
            font-family: "Roboto-bold";
            font-size: .9rem;
            letter-spacing: .02em;
            text-transform: uppercase;
            color: $darkGreen;
            text-decoration: underline;
            @media (max-width: 768px) {
                font-size: .87rem;
            }
        }
    }
}