.service {
    margin-bottom: 100px;
    @media (max-width: 1200px) {
        margin-bottom: 60px;
    }
    .service-wrapper {
        max-width: 1575px;
        margin: 0 auto;
    }
    @media (max-width: 990px) {
        margin-bottom: 60px;
    }

    @media (max-width: 576px) {
        margin-bottom: 50px;
    }
    .service-promise {
        margin-bottom: 70px;
        .promise-box-text {
            max-width: 780px;
            @media (max-width: 1200px) {
                max-width: none;
                margin-bottom: 40px;
            }
            .block-text-title {
                text-align: left;
                @media (max-width: 1200px) {
                    text-align: center;
                }
            }
        }
        .promise-box-img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .service-steps {
        margin-bottom: 200px;
        @media (max-width: 1200px) {
            margin-bottom: 30px;
        }
        .steps-container-img {
            position: relative;
            @media (max-width: 1200px) {
                display: none;
            }
        }
        .steps-container {
            .steps-box {
                margin-bottom: 50px;
            }
        }
    }
}