.about-contact {
    br {
        @media (max-width: 576px) {
            display: none;
        }
    }

    strong {
        color: #000;
        font-family: "Roboto-bold";
        font-size: 1.25rem;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    .contact-title {
        font-family: "Roboto-medium";
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: .02em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, .5);
        margin-bottom: 40px;

        @media (max-width: 990px) {
            margin-bottom: 25px;
        }

        @media (max-width: 768px) {
            font-size: 1.25rem;
        }
    }

    .contacts-box {
        margin-bottom: 50px;

        @media (max-width: 990px) {
            margin-bottom: 25px;
        }

        .contact {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            margin-bottom: 10px;
            font-family: "Bebas-bold";
            font-size: 1.2rem;
            letter-spacing: .1em;
            color: #000;

            @media (max-width: 768px) {
                font-size: 1rem;
                justify-content: flex-start;
            }

            .contact-link {
                position: absolute;
                left: 100px;
                font-family: "Roboto-light";
                font-size: 1rem;
                letter-spacing: .1em;
                color: #000;

                @media (max-width: 768px) {
                    font-size: .87rem;
                    left: 40px;
                    position: relative;
                }
            }
        }

        .work-time {
            position: relative;
            left: 100px;
            top: -10px;
            font-family: "Roboto-light";
            font-size: 1rem;
            letter-spacing: .1em;

            @media (max-width: 1500px) {
                top: 10px;
            }

            @media (max-width: 768px) {
                font-size: .87rem;
                top: 0;
                left: 0;
            }
        }
    }

    .curators-box {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        @media (max-width: 990px) {
            margin-bottom: 10px;
        }

        @media (max-width: 576px) {
            flex-direction: column;
        }

        .curators-name-box {
            @media (max-width: 576px) {
                margin-bottom: 15px;
            }

            .curator-name-text {
                font-family: "Bebas-bold";
                font-size: 1.5rem;
                letter-spacing: .2em;
                color: #000;

                @media (max-width: 768px) {
                    font-size: 1rem;
                }
            }

            .curator-name-prof {
                font-family: "Roboto-light";
                font-size: .9rem;
                letter-spacing: .1em;
                color: #000;

                @media (max-width: 768px) {
                    font-size: 0.87rem;
                }
            }
        }

        .curators-info-box {
            position: absolute;
            left: 300px;

            @media (max-width: 768px) {
                left: 0;
                position: relative;
                margin-left: 30px;
            }

            @media (max-width: 576px) {
                margin-left: 0;
            }

            .curator {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                margin-bottom: 5px;
                font-family: "Bebas-bold";
                font-size: 1.125rem;
                letter-spacing: .1em;
                color: #000;

                @media (max-width: 768px) {
                    font-size: 1rem;
                }

                .contact-link {
                    position: absolute;
                    left: 100px;
                    white-space: nowrap;
                    font-family: "Roboto-light";
                    font-size: 1rem;
                    letter-spacing: .1em;
                    color: #000;

                    @media (max-width: 768px) {
                        font-size: 0.87rem;
                        position: relative;
                    }

                    @media (max-width: 576px) {
                        left: 40px;
                    }
                }
            }
        }
    }
    .contact {
        address {
            position: absolute;
            left: 100px;
            font-family: "Roboto-light";
            font-size: 1rem;
            letter-spacing: .1em;
            color: #000;
            @media (max-width: 768px) {
                font-size: 0.87rem;
                position: relative;
            }

            @media (max-width: 576px) {
                position: relative;
                left: 0;
            }
        }
    }
}

.hr-contact {
    position: relative;
    padding: 0 40px;
    display: inline-block;

    @media (max-width: 1024px) {
        padding: 0;
    }

    &::before {
        content: "";
        width: 130%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -2px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 130%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -2px;

        @media (max-width: 1024px) {
            display: none;
        }
    }
}