.banner {
    background: #FBFBFB;
    margin-bottom: 70px;

    @media (max-width: 1200px) {
        background: #fff;
    }

    .wrapper-banner {
        max-width: 1575px;
        margin: 0 auto;
        @media (max-width: 1200px) {
            padding: 0;
        }
    }

    .banner-title {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;

        @media (max-width: 1200px) {
            margin-bottom: 1.25rem;
            justify-content: center;
        }

        &::before {
            content: "";
            background: #FBFBFB;
            display: block;
            height: 100%;
            width: 1200%;
            position: absolute;
            left: -400%;
            z-index: -1;

            @media (max-width: 1200px) {
                display: none;
            }
        }

        .banner-title-text {
            font-family: "Bebas-bold";
            font-size: 2.75rem;
            letter-spacing: .02em;
            color: $darkGreen;

            @media (max-width: 1280px) {
                padding: 0;
                font-size: 2.25rem;
            }

            @media (max-width: 990px) {
                font-size: 2rem;
            }

            @media (max-width: 768px) {
                font-size: 1.5rem;
            }
        }
    }

    .banner-bgimg {
        display: flex;
        width: 100%;
        height: 150px;
        align-items: center;
        justify-content: center;
        background: url(../img/baners/mount-banner.png) no-repeat;
        background-size: 100% 100%;
        position: relative;
        right: -140px;
        clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0% 100%);

        @media (max-width: 1200px) {
            clip-path: none;
            right: 0;
            height: 100%;
        }

        .banner-bgimg-text {
            font-family: "Rosa";
            font-size: 9.5rem;
            letter-spacing: .02em;
            color: #fff;
            opacity: .7;
            text-align: center;

            @media (max-width: 1200px) {
                font-size: 5.5rem;
            }

            @media (max-width: 990px) {
                font-size: 4rem;
            }

            @media (max-width: 768px) {
                font-size: 3.5rem;
            }
        }
    }
}