.block-text-title {
    font-family: "Bebas-bold";
    font-size: 2.25rem;
    text-align: center;
    letter-spacing: .3em;
    text-transform: uppercase;
    margin-bottom: 40px;
    .light-text {
        font-family: "Rosa";
        font-size: 2rem;
        letter-spacing: .2em;
        text-transform: capitalize;
        position: relative;
        top: -5px;
        margin-left: 15px;
        @media (max-width: 994px) {
            display: none;
        }
    }
    @media (max-width: 1024px) {
        font-size: 1.75rem;
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
    @media (max-width: 576px) {
        font-size: 1.25rem;
    }
}

.beaty-title {
    font-family: "Rosa";
    letter-spacing: .05em;
    color: $darkRed;
    font-size: 3.5rem;
    transform: rotate(-4.96deg);
    text-transform: capitalize;
    margin-bottom: 50px;
    @media (max-width: 1200px) {
        margin-bottom: 30px;
        font-size: 3rem;
    }
    @media (max-width: 1024px) {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

.beaty-text-xl {
    font-size: 6rem;
    font-family: "Rosa";
    @media (max-width: 1200px) {
        font-size: 3rem;
    }
    @media (max-width: 990px) {
        font-size: 2rem;
    }
}

.block-text-title-sm {
    font-family: "Bebas-medium";
    font-size: 1.5rem;
    letter-spacing: .03em;
    margin-bottom: 20px;
    @media (max-width: 994px) {
        font-size: 1.25rem;
    }
}

.block-text-title-exsm {
    font-family: "Bebas-medium";
    font-size: 1.25rem;
    letter-spacing: .05em;
    margin-bottom: 20px;
    @media (max-width: 994px) {
        font-size: 1rem;
    }
}

.block-text-paragraph {
    font-family: "Roboto-light";
    font-size: 1rem;
    position: relative;
    z-index: 3;
    @media (max-width: 768px) {
        font-size: .87rem;
    }
}

.icon-ok {
    padding-left: 80px;
    position: relative;
    @media (max-width: 1200px) {
        padding: 0px;
    }
    &::before {
        content: url(../../img/icon/ok.svg);
        position: absolute;
        left: 0;
        top: 12px;
        @media (max-width: 1200px) {
            display: none;
        }
    }
}