.button-send-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    @media (max-width: 1200px) {
        justify-content: center;
    }
    .button-send {
        background: $backColorButton;
        padding: 16px 40px;
        border-radius: 5px;
        color: #fff;
        font-family: "Bebas-medium";
        font-size: 1.1rem;
        letter-spacing: .1em;
        text-transform: uppercase;
        transition: .3s;
        outline: none;
        border: none;
        &:hover {
            box-shadow: -1px 4px 23px 0px rgba(0, 0, 0, .4);
        }
    }
}

.button-big {
    @media (max-width: 990px) {
        width: 100%;
    }
}