.crumbs {
    max-width: 1575px;
    margin: 0 auto;
    margin-bottom: 50px;
    @media (max-width: 1200px) {
        padding: 0;
    }
    .crumbs-box {
        display: flex;

        @media (max-width: 1200px) {
            flex-direction: column;
            justify-content: center;
        }

        .crimbs-item {
            padding: 0 15px;

            @media (max-width: 1200px) {
                text-align: center;
                padding: 0;
            }

            .crumbs-link {
                font-family: "Roboto-medium";
                letter-spacing: .03em;
                color: $mediumGreen;
                opacity: .5;
                font-size: .9rem;

                @media (max-width: 1200px) {
                    font-size: 1rem;
                    text-decoration: underline;
                }

                &::before {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 15px;
                    position: relative;
                    top: 14px;
                    left: -24px;
                    background: rgb(40, 114, 134);

                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
            }
        }

        .crimbs-item:first-child {
            padding-left: 0;
            .crumbs-link {
                &::before {
                    content: "";
                    display: none;
                }
            }
        }

        .crimbs-item:last-child {
            .crumbs-link {
                opacity: 1;
                color: $darkGreen;

                &::before {
                    content: "";
                    background: $darkGreen;
                }
            }
        }
    }

}