.feedback {
    text-align: center;
    margin-bottom: 35px;
    @media (max-width: 768px) {
        margin-bottom: 70px;
    }

    .feedback-wrapper {
        max-width: 1600px;
        margin: 0 auto;
        @media(max-width: 1200px) {
            padding: 0 15px;
        }
    }
    
    .feedback-wrapper-lg {
        max-width: 1750px;
        margin: 0 auto;
        @media(max-width: 1200px) {
            padding: 0 15px;
        }
    }

    .feedback-icon-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .feedback-map-box {
        display: flex;

        @media (max-width: 990px) {
            margin-bottom: 70px;
        }

        .feedback-img-map {
            max-width: 100%;
        }
    }
    
    .map-marg-top {
        margin-top: 25px;
    }

    .map-left {
        text-align: left;
        @media (max-width: 1200px) {
            text-align: center;
        }
    }

    .feedback-icon-box {
        margin-bottom: 50px;
        position: relative;
        &::before {
            content: "Follow us";
            font-family: "Rosa";
            font-size: 8rem;
            letter-spacing: .02em;
            color: #EBEBEB;
            opacity: .4;
            position: absolute;
            left: -20px;
            top: 110px;
            white-space: nowrap;
            @media (max-width: 1200px) {
                display: none;
            }
        }
        @media (max-width: 1200px) {
            margin-bottom: 40px;
        }

        .feedback-icon-group {
            display: flex;
            justify-content: center;

            .feedback-link {
                padding: 5px 15px;

                p {
                    opacity: .4;
                    transition: .5s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .feedback-contact-box {
        .title-contact {
            margin-bottom: 30px;
            
            .contact-title-text {
                font-family: "Roboto-medium";
                font-size: 1.2rem;
                color: rgba(0, 0, 0, .5);
                letter-spacing: .02em;
                text-transform: uppercase;
                overflow: hidden;
            }
        }

        .numail-contact {
            display: flex;
            justify-content: space-around;
            margin-bottom: 15px;
            font-family: "Bebas-medium";
            @media (max-width: 1024px) {
                justify-content: center;
            }
            .numail-contact-text {
                display: block;
                color: #000;
                letter-spacing: .1em;
                font-size: 1.125rem;
                text-transform: uppercase;
                @media (max-width: 1024px) {
                    padding: 0 3px;
                    font-size: 1rem;
                }
            }
        }

        address {
            font-family: "Bebas-medium";
            .address-text {
                font-size: 1.125rem;
                letter-spacing: .11em;
                @media (max-width: 1024px) {
                    font-size: 1rem;
                }
            }
        }
    }
    .margin-centr {
        margin: 0 60px;
        @media (max-width: 1200px) {
            margin: 0;
        }
    }
}

.marg-top {
    margin-top: 40px;
    @media (max-width: 1200px) {
        margin-top: 0;
    }
}


.feedback-wrapper-box {
    max-width: 445px;
    margin: 0 auto;
    overflow: hidden;
}

.margin-left-none {
    margin-left: 0;
    @media (max-width: 1200px) {
        margin: 0 auto;
    }
}

.margin-right-none {
    margin-right: 0;
    @media (max-width: 1200px) {
        margin: 0 auto;
    }
}


.xl-instagram  {
    position: relative;
    left: 6px;
    width: 52px; height: 52px;
    background: url('../img/sprite/social-sprite-xl.png') -164px -10px;
}

.xl-skype {
    width: 53px; height: 53px;
    background:url('../img/sprite/social-sprite-xl.png') -91px -10px;
}

.xl-call {
    width: 53px; height: 53px;
    background:url('../img/sprite/social-sprite-xl.png') -10px -83px;
}

.xl-whatsapp {
    width: 53px; height: 53px;
    background:url('../img/sprite/social-sprite-xl.png') -83px -83px;
}

.xl-facebook {
    width: 31px; height: 52px;
    position: relative;
    left: 3px;
    background:url('../img/sprite/social-sprite-xl.png') -164px -82px;
}

.xl-youtube {
    position: relative;
    left: 10px;
    width: 61px; height: 53px;
    background:url('../img/sprite/social-sprite-xl.png') -10px -10px;
}
