.feedback-form-box {
    margin: 0 30px;

    @media (max-height: 1500px) {
        margin: 0;
    }

    .form-feedback {
        text-align: center;
        
        .form-feedback-title {
            margin-bottom: 25px;
            overflow: hidden;
            .feedback-title-text {
                font-family: "Roboto-medium";
                font-size: 1.2rem;
                color: rgba(0, 0, 0, .5);
                letter-spacing: .02em;
                text-transform: uppercase;
                overflow: hidden;
            }

            .xl-title {
                font-size: 1.5rem;
            }
        }
        
        .feedback-box-input {
            margin-bottom: 15px;
            .feedback-input {
                font-family: "Roboto-medium";
                width: 100%;
                padding: 20px 25px;
                border-radius: 5px;
                outline: none;
                background: transparent;
                border: 2px solid rgba(0, 0, 0, .5);
            }
            .input-sm {
                padding: 15px 20px;
            } 
        }
        .box-sm {
            margin-bottom: 10px;
        }
        
        .custom-file-upload {    
            border: 1px solid $darkRed;
            border-radius: 5px;
            color: $darkRed;
            display: inline-block;
            padding: 14px 0;
            width: 100%;
            cursor: pointer;
            font-family: "Bebas-bold";
            font-size: 1.2rem;
            text-align: center;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        .feedback-box-button {
            margin-bottom: 20px;
            .send-feedback {
                background: $backColorButton;
                outline: none;
                border: none;
                width: 100%;
                padding: 12px 0;
                border-radius: 5px;
                color: #fff;
                font-size: 1.5rem;
                font-family: "Bebas-medium";
            }
            .send-sm {
                padding: 14px 0;
                font-size: 1.2rem;
            }
        }
        .button-sm {
            margin-bottom: 0;
        }

        .big-input {
            margin-bottom: 25px;
            label:before {
                @media (max-width: 425px) {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    bottom: 20px;
                    left: -30px;
                }
                @media (max-width: 380px) {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    bottom: 15px;
                    left: -30px;
                }
                @media (max-width: 320px) {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    bottom: 40px;
                    left: -30px;
                }
            }
        }
    }    
}

// .no-padding {
//     padding: 0;
// }

.feedback-form-wrapper {
    max-width: 720px;
    margin: 0 auto;
}

input[type=file] {
    display: none;
}

select {
    font-family: "Roboto-medium";
    font-size: .9rem;
    letter-spacing: .02em;
    color: rgba(0, 0, 0, .3);
}
.select {
    position: relative;
}
.select:after {
    content: url(../img/icon/arrow.png);
    color: rgba(0, 0, 0, .3);
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



::-webkit-input-placeholder {
    font-family: "Roboto-medium";
    font-size: .9rem;
    letter-spacing: .02em;
    color: rgba(0, 0, 0, .3);
}

::-moz-placeholder{
    font-family: "Roboto-medium";
    font-size: .9rem;
    letter-spacing: .02em;
    color: rgba(0, 0, 0, .3);
}

:-moz-placeholder{
    font-family: "Roboto-medium";
    font-size: .9rem;
    letter-spacing: .02em;
    color: rgba(0, 0, 0, .3);
}

:-ms-input-placeholder{
    font-family: "Roboto-medium";
    font-size: .9rem;
    letter-spacing: .02em;
    color: rgba(0, 0, 0, .3);
}



.ckeck-squaer-group {
    margin-top: 10px;
}
//Насйтройка чекбоксов
.checkbox-custom {
    opacity: 0;
    position: absolute;
}
.checkbox-custom-label {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 10px;
}
.checkbox-custom-label {
    font-size: .87rem;
    letter-spacing: .02em;
    color: #E5E5E5;
}
.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background-color: transparent;
    border: 1px solid #5B5A59;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 20px; 
    height: 20px;
    padding: 2px; 
    margin-right: 10px;
}
.checkbox-custom:checked + .checkbox-custom-label:after {
    content:  url(../img/icon/ok-input.svg);
    position: absolute;
    left: 3px;
}



.checkbox-custom-squaer {
    opacity: 0;
    position: absolute;
}
.checkbox-custom-label-squaer {
    display: flex;
    position: relative;
    cursor: pointer;
}
.checkbox-custom-label-squaer {
    font-size: .87rem;
    letter-spacing: .02em;
    color: #E5E5E5;
}

.checkbox-custom-squaer + .checkbox-custom-label-squaer:before {
    content: '';
    background-color: transparent;
    border: 2.2px solid #5B5A59;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 20px; 
    height: 20px;
    padding: 2px; 
    margin-right: 10px;
}

.checkbox-custom-squaer:checked + .checkbox-custom-label-squaer:after {
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    background: $lightRed;
    left: 5px;
    top: 5px;
    border-radius: 1px;
}


.input-text {
    font-size: .87rem;
    letter-spacing: .02em;
    color: rgba(20, 20, 20, .5);
}

.input-label-container {
    display: flex;
    position: relative;
    bottom: 5px;
    .input-text-box {
        display: flex;
        align-items: center;
        position: relative;
        bottom: 2px;
        .input-text {
            font-size: .87rem;
            letter-spacing: .02em;
            color: rgba(20, 20, 20, .5);
        }
        .personal-date {
            color: rgba(0, 0, 0, .3);
        }
    }
}

.input-text-active {
    color: #000;
}
