.hr {
    position: relative;
    padding: 0 15px;
    display: inline-block;
    @media (max-width: 1024px) {
        padding: 0;
    }
    &::before {
        content: "";
        width: 200%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -2px;
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 200%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -2px;
        @media (max-width: 1024px) {
            display: none;
        }
    }
}


.hr-sm {
    position: relative;
    padding: 0 40px;
    display: inline-block;
    @media (max-width: 1024px) {
        padding: 0;
    }
    &::before {
        content: "";
        width: 50%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -2px;
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 50%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -2px;
        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.hr-exsm {
    position: relative;
    padding: 0 30px;
    display: inline-block;
    @media (max-width: 1024px) {
        padding: 0;
    }
    &::before {
        content: "";
        width: 35%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -2px;
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 35%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -2px;
        @media (max-width: 1024px) {
            display: none;
        }
    }
}


.hr-contact-sm {
    position: relative;
    padding: 0 40px;
    display: inline-block;
    @media (max-width: 1024px) {
        padding: 0;
    }
    &::before {
        content: "";
        width: 45%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -2px;
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 45%;
        border-top: 1px solid #C4C4C4;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -2px;
        @media (max-width: 1024px) {
            display: none;
        }
    }
}