.excellence-container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px) {
        justify-content: center;
        flex-wrap: wrap;
    }
    .excellence-box {
        text-align: center;
        max-width: 210px;
        @media (max-width: 1200px) {
            margin: 20px;
        }
        @media (max-width: 576px) {
            width: 100%;
            text-align: center;
        }
        .excellence-title {
            font-family: "Roboto-medium";
            font-size: 0.95rem;
            text-transform: uppercase;
        }
        .excellence-img {
            height: 50px;
            width: 50px;
            margin-bottom: 20px;
        }
        .excellence-img-xl {
            height: 100px;
            width: 100px;
            margin-bottom: 20px;
            @media (max-width: 1024px) {
                height: 70px;
                width: 70px;
            }
        }
        .excellence-num {
            font-family: "Bebas-bold";
            font-size: 4.5rem;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: $mediumGreen;
            line-height: 1;
            @media (max-width: 768px) {
                font-size: 3rem;
            }
        }
        .excellence-text {
            font-family: "Roboto-light";
            font-size: .9rem;
            letter-spacing: .05em;
            text-transform: uppercase;
            @media (max-width: 768px) {
                font-size: .87rem;
            }
        }
    }
}