.mini-gallery {
    margin-bottom: 110px;
    @media (max-width: 990px) {
        margin-bottom: 70px;
    }
    .mini-gallert-wrapper {
        max-width: 1800px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .mini-gallery-container {
        display: flex;
        @media (max-width: 990px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .mini-gallery-box {
            position: relative;
            .gallery-hover {
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .3s;
                opacity: 0;
                background: linear-gradient(225.08deg, rgba(3, 84, 79, 0.62) 26.55%, rgba(45, 179, 122, 0.62) 84.35%);
                .gallery-hover-text {
                    color: #fff;
                    font-family: "Roboto-bold";
                    text-decoration: underline;
                    font-size: 1.25rem;
                    letter-spacing: .02em;
                    text-transform: uppercase;
                    @media (max-width: 1400px) {
                        font-size: 1rem;
                    }
                    @media (max-width: 1200px) {
                        font-size: .87rem;
                    }
                    @media (max-width: 990px) {
                        font-size: 1.25rem;
                    }
                }
            }
            .gallery-link {
                display: block;
                height: 300px;
                max-width: 320px;
                margin: 15px;
                transition: .3s;
                position: relative;
                @media (max-width: 1400px) {
                    height: auto;
                    max-width: 100%;
                }
                &:hover {
                    .gallery-hover {
                        opacity: 1;
                    }
                    transform: scale(1.1);
                }
                .gallery-img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}