.aside-wrapper {
    max-width: 565px;
    margin: 0 auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media (max-width: 1200px) {
        margin-right: auto;
        padding: 0 15px;
    }
}

.aside-switch {
    height: 100%;

    .theme-category {
        .thems-container {
            border: 1px solid rgba(7, 137, 129, .2);
            border-radius: 5px;
            padding: 20px 30px;
            margin-bottom: 60px;

            @media (max-width: 768px) {
                margin-bottom: 50px;
                padding: 15px 20px;
            }

            @media (max-width: 576px) {
                margin-bottom: 30px;
            }

            .thems-box {
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid rgba(7, 137, 129, .2);

                .thems-title {
                    font-family: "Bebas-medium";
                    font-size: 1rem;
                    position: relative;
                    left: 10px;
                    text-transform: uppercase;
                    color: #204E5B;
                    letter-spacing: .2em;
                    margin-bottom: 5px;
                }

                .thems-text {
                    font-family: "Roboto-light";
                    font-size: .8rem;
                    position: relative;
                    left: 10px;
                    color: #000;
                }
            }

            .thems-box:last-child {
                border: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    .category-container {
        margin-bottom: 0px;

        @media (max-width: 1200px) {
            margin-bottom: 60px;
        }

        @media (max-width: 576px) {
            margin-bottom: 30px;
        }

        .category-title-box {
            margin-bottom: 20px;
            .category-title {
                font-family: "Roboto-medium";
                font-size: 1rem;
                text-align: center;
                letter-spacing: .02em;
                text-transform: uppercase;
                color: rgba(0, 0, 0, .5);
                overflow: hidden;
            }
        }

        .category-nav {
            padding: 0 70px;

            @media (max-width: 768px) {
                padding: 0 30px;
            }

            .category-item {
                padding: 10px 0;
                position: relative;

                .category-link {
                    display: block;
                    font-family: "Bebas-medium";
                    letter-spacing: .1em;
                    text-transform: uppercase;
                    color: $darkGreen;

                    &::before {
                        content: "";
                        display: block;
                        height: 10px;
                        width: 10px;
                        background: $lightRed;
                        border-radius: 3px;
                        position: relative;
                        top: 16px;
                        left: -20px;
                    }
                }
            }
        }
    }

    .switch-post {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            margin: 0 auto;
        }

        .next-post,
        .before-post {
            display: flex;

            @media (max-width: 768px) {
                padding: 0;
                margin-bottom: 15px;
            }

            .post-img-box {
                .post-img {
                    height: 50px;
                    width: 50px;
                    border-radius: 3px;
                    object-fit: contain;
                }
            }

            .post-text-box {
                .post-text {
                    font-size: .9rem;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, .5);
                    padding: 14px 10px;

                    @media (max-width: 768px) {
                        text-decoration: underline;
                    }
                }
            }
        }

        .border-post {
            border-right: 1px solid  rgba(0, 0, 0, .5);
            @media (max-width: 768) {
                display: none;
            }
        }
    }

    .switch-page {
        display: flex;
        margin-left: 30px;
        @media (max-width: 1024px) {
            justify-content: center;
            margin: 0;
        }
        .page-click {
            display: block;
            margin-right: 20px;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            border: 1px solid #078981;
            font-family: "Bebas-bold";
            font-size: 1.2rem;
            text-transform: uppercase;
            color: rgba(7, 137, 129, .3);
        }

        .activePage {
            color: #fff;
            background-color: #078981;
        }
    }
}
