.wrapper-slider-2 {
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.none {
    display: none;
}
.disabled-but {
    opacity: 0;
    pointer-events: none;
}

.slider-2 {
    position: relative;
    @media (max-width: 1200px) {
        margin-bottom: 60px;
        bottom: 0;
    }
}

.slider-direction {
    position: relative;
    bottom: 0;
    margin-bottom: 90px;
    @media (max-width: 768px) {
        margin-bottom: 70px;
    }
}

.tsTimeLineSlide2r {
    display: flex;
    height: 100%;
    width: 1px;
    left: 180px;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
    z-index: 99999;
    @media (max-width: 1600px) {
        left: 100px;
    }
    @media (max-width: 768px) {
        left: 30px;
    }
    .dots-default{
        background: rgba(255, 255, 255, .3);
        display: block;
        width: 21px;
        height: 20px;
        border-radius: 100px;
        margin-left: -10px;
        cursor: pointer;
        position: relative;

        &::after{
            position: absolute;
            content: '';
            background: rgba(255, 255, 255, .3);
            display: block;
            width: 53px;
            height: 52px;
            border-radius: 100px;
            left: -16px;
            top: -16px;
            opacity: 0;
            transition: all 0.5s;            
        }
        &::before{
            position: absolute;
            content: '';
            background: rgba(255, 255, 255, .3);
            display: block;
            width: 37px;
            height: 36px;
            border-radius: 100px;
            left: -8px;
            top: -8px;
            opacity: 0;
            transition: all 0.3s;
        }

        &.active{
            background: #fff;
            position: relative;

            &::after{
                width: 53px;
                height: 52px;
                opacity: 1;
            }
            &::before{
                width: 37px;
                height: 36px;
                opacity: 1;
            }
            
        }
    }
}

.tsSlide2NextItemImages {
    height: 400px;
    width: 300px;
}

.tsSlide2NextItemImageFront {
    height: 400px;
    width: 300px;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.tsImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

#tsInitSlider2 {
    display: none !important;
}

.card_slider-2 {
    position: relative;
    height: 500px;
    border-radius: 10px;
    width: 400px;
    transform-style: preserve-3d;
    right: -60px;
    @media (max-width: 1200px) {
        height: 450px;
        width: 350px;
        right: -100px;
    }
    @media (max-width: 990px) {
        right: -250px;
    }
}

.card_slider_small-2 {
    position: relative;
    height: 400px;
    width: 300px;
    transform-style: preserve-3d;
    @media (max-width: 1200px) {
        height: 300px;
        width: 250px;
    }
    @media (max-width: 990px) {
        right: -95px;
    }
}

.card_slider_small-2:last-child {
    left: -60px;
}

.tsCurrent {
    max-width: 500px;
    @media (max-width: 1190px) {
        text-align: center;
        padding: 0 45px;
    }
}

.ts2_front,
.ts2_back {
    display: flex;
    width: 400px;
    height: 500px;
    margin-right: 10px;
    @media (max-width: 1200px) {
        height: 450px;
        width: 350px;
    }
}

.ts2_front_small,
.ts2_back_small {
    display: flex;
    width: 300px;
    height: 400px;
    bottom: 0;
    margin-right: 10px;
    @media (max-width: 1200px) {
        height: 300px;
        width: 250px;
    }
}

.ts2_back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    color: #2196f3;
}

.ts2_back_small {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    color: #2196f3;
}

.tsMainContainer2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .95;
    display: flex;
    align-items: center;
}

.tsDigitSlide2rInfo {
    font-family: "Bebas-bold";
    font-size: 18rem;
    color: transparent;
    opacity: .6;
    -webkit-text-stroke: .5px #fff;
    position: absolute;
    left: -2%;
    @media (max-width: 1200px) {
        display: none;
    }
}



.tsPrev,
.tsNext {
    font-family: 'Rosa';
    text-align: center;
    font-size: 4rem;
    color: #d6d6cf;
    cursor: pointer;
    z-index: 99999;
    position: relative;
    left: -195px;
    @media (max-width: 1600px) {
        left: 0;
    }
}

.tsPrev {
    position: relative;
    left: -155px;
    @media (max-width: 1600px) {
        left: 0;
    }
}

.tsPrev:hover,
.tsNext:hover {
    color: #fff;
}

.tsLogo {
    font-family: 'Rosa';
    font-size: 7rem;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1;
    @media (max-width:768px) {
        font-size: 4rem;
    }
}

.tsDescription {
    font-family: "Roboto-light";
    font-size: 1.125rem;
    color: #FFF;
    margin-bottom: 40px;
    text-align: justify;
    @media (max-width:768px) {
        font-size: .87rem;
    }
}


.tsMainSlide2rInfo {
    width: 850px;
    height: 870px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
    @media (max-width:  1190px) {
        width: auto;
        margin: 0 auto;
    }
    @media (max-width: 768px) {
        height: 700px;
    }
}

.tsSlide2rPhoto {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 1200px;
    justify-content: space-between;
    position: absolute;
    right: -11%;
    @media (max-width: 1300px) {
        right: -13%;
    }
    @media (max-width: 768px) {
        display: none;
    }
}


.lef-text {
    position: relative;
    left: -70px;
    @media (max-width: 1800px) {
        left: 0;
    }
}







// слайдер 1
.slide-wrapper {
    max-width: 1650px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        max-width: none;
    }
}

.sloder-one {
    position: relative;
    margin-bottom: 75px;
}

.bgMainContainer {
    background: linear-gradient(224.12deg, #204E5B 21.45%, #078981 60.19%, #36A987 99.72%);
    padding-top: 6rem;
}

.tsMainContainer {
    height: 735px;
    opacity: .95;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1280px) {
        justify-content: center;
        flex-direction: column;
        height: 800px;
        margin-top: 60px;
    }
    @media (max-width: 768px) {
        height: 590px;
        margin: 0;
        margin-top: 30px;
    }
}

.tsItemInfoContainer {
    padding-left: 6%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    position: relative;
    top: -10px;
    @media (max-width: 1200px) {
        top: -200px;
    }
    @media (max-width: 1190px) {
        text-align: center;
        padding: 0;
    }
    @media (max-width: 768px) {
        top: 0;
    }
}


.tsItemTitle {
    max-width: 1000px;
    @media (max-width: 1400px) {
        max-width: 100%;
    }
}

.tsItemTitleH1 {
    font-size: 9.5rem;
    font-family: 'Bebas-bold';
    letter-spacing: .02em;
    line-height: normal;
    color: #FFF;
    line-height: .8;
    margin-bottom: 4.25rem;
    span {
        font-size: 6.6rem;
        @media (max-width:1400px) {
            font-size: 6.5rem;
        }
        @media (max-width:1200px) {
            font-size: 4rem;
            margin-bottom: 3rem;
        }
        @media (max-width:990px) {
            font-size: 3rem;
        }
        @media (max-width:768px) {
            font-size: 3rem;
        }
    }
    @media (max-width:1400px) {
        font-size: 8rem;
    }
    @media (max-width:1200px) {
        font-size: 6rem;
        margin-bottom: 2rem;
    }
    @media (max-width:990px) {
        font-size: 5rem;
    }
    @media (max-width:768px) {
        font-size: 3rem;
        line-height: .9;
    }
}

.tsItemDescription {
    width: 540px;
    @media (max-width: 1200px) {
        width: auto;
    }
    @media (max-width: 990px) {
        width: auto;
        padding: 0 25px;
    }
    p {
        font-family: "Roboto-light";
        font-size: 1.125rem;
        color: #FFF;
        margin-bottom: 3.75em;
        @media (max-width: 768px) {
            font-size: .87rem;
            margin-bottom: 2rem;
        }
        strong {
            font-family: "Roboto-bold";
        }
    }
}

.button-send-wrapper {
    display: flex;
    justify-content: flex-start;
    position: relative;

    @media (max-width: 1190px) {
        justify-content: center;
    }

    .tsItemSelect {
        background: $backColorButton;
        padding: 16px 40px;
        border-radius: 5px;
        color: #fff;
        font-family: "Bebas-medium";
        font-size: 1.1rem;
        letter-spacing: .1em;
        text-transform: uppercase;
        transition: .3s;
        outline: none;

        &:hover {
            box-shadow: -1px 4px 23px 0px rgba(0, 0, 0, .4);
        }
    }
}

.tsItemSelect:hover {
    cursor: pointer;
    background: linear-gradient(135.56deg, #FD4E5E 43.77%, #C83B48 105.69%);
}

.tsSlideCurrentItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tsSlideCurrentItemImages {
    height: 550px;
    width: 500px;
}

.tsSlideCurrentItemImageFront {
    height: 550px;
    width: 500px;
}

.tsSliderContainer {
    height: inherit;
    width: 53%;
    position: absolute;
    right: 0%;
    display: flex;
    padding-top: 30px;
    @media (max-width: 1600px) {
        width: 60%;
    }
    @media (max-width: 1400px) {
        width: 100%;
        height: 70%;
        position: absolute;
        bottom: 0px;
    }
    @media (max-width: 1280px) {
        bottom: 0px;
        width: 70%;
        height: 80%;
    }
    @media (max-width: 1200px) {
        bottom: 0px;
        width: 98%;
        height: 70%;
    }
    @media (max-width: 1150px) {
        height: 70%;
        width: 100%;
        bottom: 0;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.tsSlideNextItemImages {
    margin-top: 25px;
    margin-left: 50px;
    height: 400px;
    width: 400px;
}

.tsSlideNextItemImageFront {
    height: 400px;
    width: 400px;
    min-width: 400px;
}

.tsInterface {
    color: rgba(207, 190, 190, .37);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: absolute;
    bottom: -200px;
    width: 500px;
    @media(max-width: 1400px) {
        left: 25%;
    }
    @media (max-width: 1280px) {
        left: 20%;
    } 
    @media (max-width: 1200px) {
        left: 25%;
        top: 60%;
    } 
    @media (max-width: 990px) {
        left: 21%;
    }
    @media(max-width: 768px) {
        left: 0;
    }
}

.tsInterfaceSlidePrev:hover {
    color: #FFF;
}

.tsInterfaceSlideNext:hover {
    color: #FFF;
}

.tsPointer {
    cursor: pointer !important;
    position: relative;
    top: -50px;
    opacity: .2;
    &:hover {
        opacity: 1;
    }
    @media (max-width: 1190px) {
        top: -20px;
    }
}

.tsInterfaceSlideCurrent {
    margin-left: 60px;
    margin-right: 60px;
    width: 200px;
    font-family: "Bebas-bold";
    font-size: 18rem;
    text-align: center;
    color: transparent;
    opacity: .6;
    -webkit-text-stroke: 1px #fff;
    @media (max-width: 990px) {
        width: auto;
        font-size: 10rem;
        position: relative;
    }
    @media (max-width: 576px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.tsImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

#tsInitSlider {
    display: none !important;
}

.card_slider-container {
    perspective: 1400px;
    overflow: hidden;
}

.card_slider {
    position: relative;
    height: 550px;
    width: 650px;
    transform-style: preserve-3d;
    border-radius: 10px;
    @media (max-width: 768px) {
        display: none;
    }
}

.card_slider_small {
    position: relative;
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    @media (max-width: 768px) {
        display: none;
    }
}

.front,
.back {
    display: flex;
    width: 650px;
    height: 550px;
    justify-content: center;
    align-items: center;
    @media (max-width: 1200px) {
        width: 600px;
        height: 500px;
    }
}

.front_small,
.back_small {
    display: flex;
    width: 550px;
    height: 500px;
    justify-content: center;
    align-items: center;
    @media (max-width: 1200px) {
        width: 500px;
        height: 450px;
    }
}

.front {
    color: #fff;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    color: #2196f3;
}

.front_small {
    color: #fff;
}

.back_small {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    color: #2196f3;
}

.mob-inter {
    opacity: 0;
    pointer-events: none;
    @media (max-width:768px) {
        opacity: 1;
        pointer-events: all;
        position: relative;
        top: 0;
        width: auto;
    }
}