.wrapper-video {
    position: relative;
    z-index: 2;
    cursor: pointer;
    &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.3;
        z-index: 2;
    }

    &::after {
        content: "";
        background: url(../img/icon/play.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 120px;
        height: 120px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;

        @media (max-width: 768px) {
            width: 50px;
            height: 50px;
        }
    }

    .play-video {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
    }
}