.way-services {
    padding: 160px 0;
    background: url(../img/direction-img/mount-extr.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    @media (max-width: 1200px) {
        margin-bottom: 90px;
        padding: 0;
        background: none;
        background-color: #FBFBFB;
        padding: 20px 0;
    }
    @media (max-width: 990px) {
        margin-bottom: 80px;
    }
    @media (max-width: 768px) {
        margin-bottom: 70px;
    }
    &::after {
        content: "";
        background: #FBFBFB;
        display: block;
        height: 90%;
        width: 1200%;
        position: absolute;
        left: -400%;
        z-index: -1;
        top: 50px;
        @media (max-width: 1200px) {
           display: none;
        }
    }
    .services-wrapper {
        max-width: 1600px;
        margin: 0 auto;
    }
    .block-text-paragraph {
        text-align: center;
        margin-bottom: 35px;
    }
    .services-container-icon {
        display: flex;
        justify-content: space-between;
        height: 200px;
        position: relative;
        @media (max-width: 1200px) {
            height: auto;
            justify-content: center;
            flex-wrap: wrap;
        }
        @media (max-width: 768px) {
            justify-content: center;
        }
        &::after {
            content: url(../img/icon/map-icon.svg);
            position: absolute;
            left: 50px;
            bottom: -5px;
            @media (max-width: 1200px) {
                display: none;
            }
        }
        &::before {
            content:  url(../img/direction-img/way.svg);
            position: absolute;
            left: 4%;
            top: 90px;
            @media (max-width: 1200px) {
                display: none;
            }
        }
        .services-icon-box:first-child {
            position: relative;
            top: 50px;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box:nth-child(2) {
            position: relative;
            top: 170px;
            left: -80px;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box:nth-child(3) {
            position: relative;
            top: 120px;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box:nth-child(4) {
            position: relative;
            top: 200px;
            left: -50px;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box:nth-child(5) {
            position: relative;
            top: 70px;
            left: -130px;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box{
            display: flex;
            @media (max-width: 1200px) {
                margin: 30px;
            }
            @media (max-width: 768px) {
                flex-direction: column;
                justify-items: center;
                align-items: center;
                margin: 10px;
                width: 100%;
                text-align: center;
            }
            .services-icon {
                height: 60px;
                width: 60px;
            }
            .icon-text-box {
                margin: 10px;
                .service-title {
                    font-family: "Roboto-bold";
                    font-size: .9rem;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                .service-text {
                    font-family: "Roboto-light";
                    font-size: .87rem
                }
            }
        }
    }
}


.receive-services {
    background: none;
    &::before {
        content: "Descover Armenia";
        font-family: "Rosa";
        position: absolute;
        font-size: 14rem;
        opacity: .05;
        left: 50%;
        top: 55%;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        @media (max-width: 1200px) {
            display: none;
        }
    }
    .services-wrapper {
        max-width: 1780px;
        margin: 0 auto;
    }
    .services-container-icon {
        display: flex;
        justify-content: space-between;
        height: 200px;
        position: relative;
        z-index: 2;
        @media (max-width: 1200px) {
            height: auto;
            justify-content: center;
            flex-wrap: wrap;
        }
        @media (max-width: 768px) {
            justify-content: center;
        }
        &::after {
            content: url(../img/icon/map-icon.svg);
            position: absolute;
            left: 30px;
            bottom: 5px;
            @media (max-width: 1200px) {
                display: none;
            }
        }
        &::before {
            content: url(../img/main-page-img/way.svg);
            position: absolute;
            left: 3%;
            top: 90px;
            @media (max-width: 1200px) {
                display: none;
            }
        }
        .services-icon-box:first-child {
            position: relative;
            top: 30px;
            left: 0;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box:nth-child(2) {
            position: relative;
            top: 210px;
            left: -120px;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box:nth-child(3) {
            position: relative;
            top: 30px;
            left: -130px;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box:nth-child(4) {
            position: relative;
            top: 150px;
            left: -150px;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box:nth-child(5) {
            position: relative;
            top: 20px;
            left: -100px;
            @media (max-width: 1200px) {
                top: 0;
                left: 0;
            }
        }
        .services-icon-box{
            display: flex;
            @media (max-width: 1200px) {
                margin: 30px;
            }
            @media (max-width: 768px) {
                flex-direction: column;
                justify-items: center;
                align-items: center;
                margin: 10px;
                width: 100%;
                text-align: center;
            }
            .services-icon {
                height: 60px;
                width: 60px;
            }
            .icon-text-box {
                margin: 10px;
                .service-title {
                    font-family: "Roboto-bold";
                    font-size: .9rem;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                .service-text {
                    font-family: "Roboto-light";
                    font-size: .87rem
                }
            }
        }
    }
}
