.state {
    margin-bottom: 80px;

    @media (max-width: 990px) {
        margin-bottom: 60px;
    }

    @media (max-width: 576px) {
        margin-bottom: 50px;
    }

    .state-wrapper {
        max-width: 1575px;
        margin: 0 auto;
    }
    
    .post-container {
        max-width: 960px;
        margin: 0 auto;

        @media (max-width: 1200px) {
            max-width: none;
        }

        @media (max-width: 1200px) {
            margin-bottom: 40px;
        }

        .post-box {
            margin-bottom: 20px;

            .post-sm-img {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @media (max-width: 1200px) {
                    justify-content: center;
                }
            }

            .imgPost {
                border-radius: 5px;
                max-width: 100%;
                object-fit: contain;
                margin-bottom: 40px;
                @media (max-width: 990px) {
                    object-fit: cover; 
                }
                @media (max-width: 768px) {
                    margin-bottom: 25px;
                }
            }

            //тестовое для фотки
            .widt {
                width: 530px;
                @media (max-width: 990px) {
                    object-fit: cover; 
                }
            }

            .post-title {
                font-family: "Bebas-medium";
                font-size: 1.5rem;
                text-align: center;
                letter-spacing: .3em;
                text-transform: uppercase;
                margin-bottom: 30px;
                position: relative;

                &::before {
                    content: "Interesting";
                    font-family: "Rosa";
                    font-size: 1.25rem;
                    color: rgba(7, 137, 129, .5);
                    transform: rotate(-7.22deg);
                    letter-spacing: .1em;
                    text-transform: capitalize;
                    position: absolute;
                    top: -30px;
                    left: 45%;

                    @media (max-width: 576px) {
                        display: none;
                    }
                }

                @media (max-width: 768px) {
                    font-size: 1.2rem;
                    margin-bottom: 15px;
                }
            }

            .state-video {
                margin-bottom: 35px;
            }

            .post-text {
                font-family: "Roboto-light";
                font-size: .95;
                margin-bottom: 35px;

                @media (max-width: 768px) {
                    font-size: .87rem;
                    margin-bottom: 30px;
                }
            }
        }

        .author-post {
            display: flex;
            justify-content: space-between;

            @media (max-width: 990px) {
                justify-content: center;
                flex-direction: column;
            }

            .author-box {
                display: flex;
                color: #000;

                .author-box-img {
                    max-height: 60px;
                    max-width: 60px;
                    padding: 10px;
                    border: 1px solid rgba(7, 137, 129, .2);
                    ;
                    border-radius: 50%;

                    .author-img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }

                .author-box-name {
                    display: flex;
                    align-items: center;
                    padding-left: 10px;

                    .author-name {
                        font-family: "Roboto-light";
                        text-transform: uppercase;
                        font-size: 1.125rem;

                        @media (max-width: 768px) {
                            font-size: .87rem;
                        }
                    }
                }
            }

            .author-data {
                display: flex;
                align-items: center;

                .data-text {
                    padding: 10px 0;
                    font-family: "Roboto-light";
                    text-transform: uppercase;
                    font-size: 1.125rem;

                    @media (max-width: 768px) {
                        font-size: .87rem;
                    }
                }
            }
        }
    }
}