.company {
    @media (max-width: 990px) {
        margin-bottom: 70px;
    }
    .company-wrapper {
        max-width: 1575px;
        margin: 0 auto;
    }
    .company-about {
        margin-bottom: 170px;
        @media (max-width: 1024px) {
            margin-bottom: 60px;
        }
        .company-about-text {
            max-width: 660px;
            margin-bottom: 30px;
            @media (max-width: 1200px) {
                max-width: none;
            }
            .block-text-title {
                text-align: left;
                @media (max-width: 1200px) {
                    text-align: center;
                }
            }
            .block-text-paragraph {
                margin-left: 40px;
                @media (max-width: 1200px) {
                    margin-left: 0;
                }
            }
        }
        .company-about-img {
            @media (max-width: 1280px) {
                text-align: center;
                margin-top: 30px;
            }
        }
    }
    .company-important {
        margin-bottom: 170px;
        padding: 40px 0;
        position: relative;
        @media (max-width: 1024px) {
            padding: 0;
            margin-bottom: 60px;
        }
        @media (max-width: 768px) {
            margin-bottom: 70px;
        }
        &::before {
            content: url(../img/company-img/bg-comp.png);
            top: -40%;
            left: -15%;
            position: absolute;
            @media (max-width: 1280px) {
                display: none;
            }
        }
        &::after {
            content: "";
            background: rgba(229, 229, 229, .15);
            width: 400%;
            bottom: -16%;
            left: -100%;
            height: 650px;
            position: absolute;
            @media (max-width: 1280px) {
                display: none;
            }
        }
        .company-important-text {
            max-width: 970px;
            @media (max-width: 1200px) {
                max-width: none;
            }
            @media (max-width: 990px) {
                text-align: center;
            }
            .block-text-title {
                text-align: right;
                @media (max-width: 1200px) {
                    text-align: center;
                }
            }
            .block-text-paragraph {
                max-width: 730px;
                margin-left: 80px;
                margin-bottom: 35px;
                @media (max-width: 1200px) {
                    max-width: none;
                    margin-left: 0;
                }
            }
        }
        .company-important-img {
            position: relative;
            left: -35px;
            @media (max-width: 1280px) {
                display: none;
            }
        }
        .important-excellence {
            width: 120%;
            position: relative;
            left: -150px;
            @media (max-width: 1280px) {
                left: 0;
                width: auto;
            }
        }
    }
    .company-team {
        margin-bottom: 100px;
        max-width: 1470px;
        @media (max-width: 1200) {
            margin: 0 auto;
        }
        @media (max-width: 1280px) {
            margin-bottom: 50px;
        }
        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
        .company-team-text {
            margin-bottom: 50px;
            @media (max-width: 990px) {
                margin-bottom: 70px;
                text-align: center;
            }
            .block-text-title {
                text-align: left;
                @media (max-width: 1200px) {
                    text-align: center;
                }
            }
            .block-text-paragraph {
                margin-left: 40px;
                @media (max-width: 1200px) {
                    margin-left: 0;
                }
            }
        }
        .company-team-card {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: 1280px) {
                justify-content: center;
            }
            .card-team-block {
                max-width: 260px;
                margin: 10px;
                &:hover {
                    .worker-block-text {
                        background: linear-gradient(56.37deg, #009986 4.68%, #078981 84.33%);
                        border: 1px solid rgba(7, 137, 129, 0.2);
                        .worker-name,.worker-prog,.worker-about {
                            color: #fff;
                        }
                    }
                    .worker-img {
                        opacity: .8;
                    }
                }
                .wrapper-block-img {
                    overflow: hidden;
                    height: 320px;
                    max-width: 300px;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    @media (max-width: 990px) {
                        height: 320px;
                    }
                    @media (max-width: 768px) {
                        height: 300px;
                    }
                    .worker-img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        border-radius: 5px;
                        transition: .3s;
                    }
                }
            }
            .worker-block-text {
                padding: 15px;
                border: 1px solid rgba(7, 137, 129, .2);
                border-radius: 5px;
                transition: .3s;
                .worker-name {
                    font-family: "Bebas-bold";
                    font-size: 1.125rem;
                    letter-spacing: .15em;
                    text-transform: uppercase;
                    transition: .3s;
                    @media (max-width: 768px) {
                        font-size: 1rem
                    }
                }
                .worker-prog {
                    font-family: "Roboto-light";
                    font-size: 1rem;
                    letter-spacing: .02em;
                    color: #553333;
                    margin-bottom: 10px;
                    transition: .3s;
                    @media (max-width: 768px) {
                        font-size: .87rem;
                    }
                }
                .worker-about {
                    font-family: "Roboto-medium";
                    font-size: 1rem;
                    transition: .3s;
                    @media (max-width: 768px) {
                        font-size: .87rem
                    }
                }
            }
        }
    }
    .owl-item {
        display: flex;
        justify-content: center;
    }
}