.direction-extreme {
    margin-bottom: 180px;
    @media (max-width: 1200px) {
        margin-bottom: 100px;
    }
    @media (max-width: 990px) {
        margin-bottom: 80px;
    }
    @media (max-width: 768px) {
        margin-bottom: 70px;
    }

    .extreme-wrapper {
        max-width: 1650px;
        margin: 0 auto;
        @media (max-width: 1200px) {
            max-width: none;
        }
    }

    .direction-extreme-block {
        .block-text-title {
            text-align: right;
            position: relative;
            right: -10px;
            @media (max-width: 1200px) {
                text-align: center;
            }
        }

        .block-text-paragraph {
            text-align: left;
            margin-bottom: 35px;
            max-width: 720px;
            @media (max-width: 1200px) {
                text-align: center;
                max-width: none;
            }
        }
    }

    .extreme-block-img {
        position: relative;
        left: -10%;
        @media (max-width: 1500px) {
            left: 0;
        }
        @media (max-width: 1200px) {
            display: none;
        }
    }

    .extreme-container-icon {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 990px) {
            justify-content: center;
        }
        .extreme-block-icon {
            text-align: center;
            max-width: 200px;
            @media (max-width: 1200px) {
                margin: 15px 0;
                width: 200px;
            }
            @media (max-width: 768px) {
                width: 100%;
            }
            .extreme-icon-img {
                height: 80px;
                width: auto;
                margin-bottom: 20px;
            }
            .extreme-icon-title {
                font-family: "Roboto-medium";
                font-size: .9rem;
                text-transform: uppercase;
                margin-bottom: 5px;
            }
            .extreme-icon-text {
                font-family: "Roboto-light";
                font-size: 0.87rem;
            }
        }
    }

}


.direction-video {
    overflow: hidden;
    margin-bottom: 65px;
    @media (max-width: 1200px) {
        margin-bottom: 60px;
    }
    @media (max-width: 768px) {
        margin-bottom: 70px;
    }
    .box-direction-video {
        max-width: 1450px;
        height: 600px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        cursor: pointer;
        @media (max-width: 990px) {
            height: auto;
        }
        &::before {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.3;
            z-index: 2;
        }

        &::after {
            content: "";
            background: url(../img/icon/play.png) no-repeat;
            background-size: cover;
            position: absolute;
            width: 120px;
            height: 120px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;

            @media (max-width: 768px) {
                width: 50px;
                height: 50px;
            }
        }
        .play-video {
            max-width: 100%;
            height: 100%;
            position: relative;
            display: block;
            margin: 0 auto;
            transform: scaleX(1.4);
            @media (max-width: 1600px) {
                transform: scaleX(1);
            } 
            @media (max-width: 576px) {
                height: auto;
            }
        }
    }
}

.direction-program {
    margin-bottom: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
        margin: 0;
        margin-bottom: 70px;
    }
    .program-wrapper {
        max-width: 1600px;
        margin: 0 auto;
    }

    .program-block-wrapper {
        display: flex;
        justify-content: flex-end;
        position: relative;
        @media (max-width: 1200px) {
            justify-content: center;
            right: 0;
        }
        .program-block-text {
            max-width: 730px;
            margin-bottom: 30px;
            .block-text-title {
                text-align: right;
                position: relative;
                right: -35px;
                @media (max-width: 1600px) {
                    right: 0;
                }
                @media (max-width: 1200px) {
                    text-align: center;
                }
            }
            .block-text-paragraph {
                text-align: left;
                @media (max-width: 1200px) {
                    text-align: center;
                    right: 0;;
                }
            }
        }
    }

    .direction-program-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1500px;
        margin: 0 auto;
        @media (max-width: 1800px) {
            justify-content: center;
        }
        .direction-program-box {
            margin-bottom: 40px;
            max-width: 750px;
            margin: 15px 13px;
            @media (max-width: 768px) {
                margin: 0 15px 60px 15px;
            }
            .block-text-paragraph {
                max-width: 720px;
                text-align: center;
                @media (max-width: 1200px) {
                    max-width: none;
                }
            }
            .block-text-title-exsm {
                text-align: center;
            }
            .program-link {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                position: relative;
                .program-hover {
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .3s;
                    opacity: 0;
                    .program-hover-text {
                        color: #fff;
                        font-family: "Roboto-bold";
                        text-decoration: underline;
                        font-size: 1.25rem;
                        letter-spacing: .02em;
                        text-transform: uppercase;
                    }
                }
                &:hover {
                    .program-hover {
                        opacity: 1;
                    }
                }
                .program-img {
                    max-width: 100%;
                    object-fit: cover;
                    @media (max-width: 768px) {
                        height: 200px;
                    }
                }
            }
        }
    }
}
