//Bebas
@font-face {
	font-family: "Bebas-light";
	src: url('../fonts/bebas/BebasNeue\ Light.otf');
}

@font-face {
	font-family: "Bebas-medium";
	src: url('../fonts/bebas/BebasNeue\ Regular.otf');
}

@font-face {
	font-family: "Bebas-bold";
	src: url('../fonts/bebas/BebasNeue\ Bold.otf');
}

//Rosa
@font-face {
	font-family: "Rosa";
	src: url('../fonts/rosa/ofont.ru_Rosa\ Marena.ttf');
}

//Roboto
@font-face {
	font-family: "Roboto-light";
	src: url('../fonts/roboto/RobotoSlab-Light.ttf');
}

@font-face {
	font-family: "Roboto-medium";
	src: url('../fonts/roboto/RobotoSlab-Regular.ttf');
}

@font-face {
	font-family: "Roboto-bold";
	src: url('../fonts/roboto/RobotoSlab-Bold.ttf');
}
