.main-about {
    margin-bottom: 75px;
    @media (max-width: 768px) {
        margin-bottom: 70px
    }
    .main-about-wrapper {
        max-width: 1575px;
        margin: 0 auto;
    }
    .main-about-img {
        position: relative;
        left: -20px;
        @media (max-width: 1400px) {
            left: -30px;
        }
        @media (max-width: 990px) {
            display: none;
        }
    }
    .main-about-text {
        max-width: 720px;
        @media (max-width: 1200px) {
            max-width: none;
        }
        .block-text-title {
            text-align: right;
            position: relative;
            right: -30px;
            @media (max-width: 1500px) {
                right: 0;
            }
            @media (max-width: 1200px) {
                text-align: center;
            }
        }
        .block-text-paragraph {
            text-align: justify;
            margin-bottom: 35px;
            max-width: 650px;
            @media (max-width: 1200px) {
                text-align: center;
                max-width: none;
            }
        }
        .button-send-wrapper {
            justify-content: flex-end;
            margin-right: 85px;
            @media (max-width: 990px) {
                justify-content: center;
                margin: 0;
            }
        }
    }
}


.main-question {
    margin-bottom: 80px;
    @media (max-width: 768px) {
        margin-bottom: 70px;
    }
    .main-question-wrapper {
        max-width: 1600px;
        margin: 0 auto;
        .box-question-video {
            max-width: 755px;
            height: 475px;
            position: relative;
            @media (max-width: 1200px) {
                margin: 0 auto;
                max-width: none;
                height: 100%;
                margin-bottom: 70px;
            }
        }
        .main-question-text {
            max-width: 720px;
            @media (max-width: 1200px) {
                max-width: none;
            }
            .block-text-title {
                text-align: right;
                position: relative;
                right: -30px;
                @media (max-width: 1500px) {
                    right: 0;
                }
                @media (max-width: 1200px) {
                    text-align: center;
                }
            }
            .block-text-paragraph {
                text-align: justify;
                max-width: 650px;
                margin-left: 40px;
                margin-bottom: 30px;
                @media (max-width: 1200px) {
                    text-align: center;
                    max-width: none;
                    margin-left: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.main-quest {
    background: url(../img/main-page-img/quest-bg.png) no-repeat;
    background-size: cover;
    margin-bottom: 170px;
    padding: 50px 0;
    height: 560px;
    @media (max-width: 1200px) {
        margin-bottom: 80px;
        height: auto;
    }
    @media (max-width: 768px) {
        margin-bottom: 70px;
    }
    .main-quest-wrapper {
        max-width: 2000px;
        margin: 0 auto;
        position: relative;
        .quest-container-text {
            text-align: center;
            max-width: 660px;
            margin: 0 auto;
            margin-right: 90px;
            color: #fff;
            @media (max-width: 1200px){
                max-width: none;
                margin: 0 auto;
                margin-bottom: 30px;
            }
            .block-text-title {
                margin-bottom: 90px;
                @media (max-width: 990px) {
                    margin-bottom: 30px;
                }
            }
            .block-text-paragraph {
                max-width: 450px;
                margin: 0 auto;
                @media (max-width: 1200px) {
                    max-width: none;
                }
            }
        }
        .quest-container-form {
            position: absolute;
            background: #fff;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, .1);
            border-radius: 5px;
            padding: 70px 50px;
            width: 880px;
            display: flex;
            left: -8%;
            top: 50px;
            height: 500px;
            align-items: center;
            flex-wrap: wrap;
            @media (max-width: 1600px) {
                position: relative;
                left: 0;
                top: 0;
                width: auto;
            }
            @media (max-width: 1200px) {
                justify-content: center;
                padding: 40px;
                height: 100%;
            }
            @media (max-width: 768px) {
                padding: 20px;
            }
            .quest-box-img {
                @media (max-width: 1600px) {
                    display: none;
                }
            }
            .quest-box-form {
                max-width: 385px;
                margin: 0 auto;
                margin-left: 50px;
                @media (max-width: 1600px) {
                    max-width: none;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                }
                .quest-form-title {
                    font-family: "Bebas-bold";
                    font-size: 1.125rem;
                    margin-bottom: 35px;
                    @media (max-width: 768px) {
                        font-size: 1rem;
                    }
                }
                .quest-form {
                    display: flex;
                    flex-direction: column;
                    .input-label-container {
                        margin-bottom: 10px;
                    }
                    .input-text {
                        font-size: 1rem;
                        color: #000;
                        position: relative;
                        top: -3px;
                        @media (max-width: 768px) {
                            font-size: .87rem;
                        }
                    }
                    .checkbox-custom-squaer + .checkbox-custom-label-squaer:before {
                        content: '';
                        background-color: transparent;
                        border: 1px solid $mediumGreen;
                        width: 20px; 
                        height: 20px;
                        padding: 2px; 
                        margin-right: 20px;
                    }     
                    .button-send {
                        padding: 12px 40px;
                        position: absolute;
                        right: -45px;
                        @media (max-width: 1600px) {
                            right: 0;
                            position: relative;
                        }
                    }               
                }
            }
        }
    }
}

.main-disconts {
    margin-bottom: 50px;
    @media (max-width: 768px) {
        margin: 0;
    }
    .main-disconts-wrapper {
        max-width: 1600px;
        margin: 0 auto;
        .main-discont-text {
            max-width: 420px;
            margin: 0 auto;
            @media (max-width: 1200px) {
                margin-bottom: 70px;
            }
            .block-text-title {
                text-align: right;
                position: relative;
                right: -30px;
                @media (max-width: 1500px) {
                    right: 0;
                    text-align: center;
                }
                @media (max-width: 768px) {
                    margin-bottom: 30px;
                }
            }
            .block-text-paragraph {
                text-align: justify;
                @media (max-width: 1200px) {
                    text-align: center;
                    max-width: none;
                }
            }
        }
        .main-discont-sentence {
            max-width: 1100px;
            @media (max-width: 1200px) {
                max-width: none;
                margin: 0;
            }
            @media (max-width: 990px) {
                margin-bottom: 40px;
            }
            .discont-sentence-group {
                display: flex;
                justify-content: space-between;
                @media (max-width: 990px) {
                    justify-content: center;
                    flex-wrap: wrap;
                }
                .discont-sentence-box {
                    max-width: 500px;
                    margin-bottom: 10px;
                    @media (max-width: 1800px) {
                        max-width: 472px;
                    }
                    @media (max-width: 1500px) {
                        margin: 15px;
                        // max-width: 40%;
                    }
                    .discont-sentence-img {
                        margin-bottom: 20px;
                        display: block;
                        overflow: hidden;
                        &:hover {
                            .disconts-img {
                                transform: scale(1.2);
                            }
                        }
                        .disconts-img {
                            object-fit: cover;
                            max-width: 100%;
                            border-radius: 4px;
                            transition: .3s;
                        }
                    }
                    .discont-title {
                        font-family: "Roboto-bold";
                        font-size: .95rem;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                    .discont-text {
                        font-family: "Roboto-light";
                        font-size: .87rem;
                        span {
                            font-family: "Rosa";
                            color: $lightRed;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.order-1 {
    @media (max-width: 990px) {
        order: -1;
    }
}