.strikball {
    .strikball-wrapper {
        max-width: 1575px;
        margin: 0 auto;
    }
    .strikball-text-about {
        margin-bottom: 90px;
        max-width: 710px;
        @media (max-width: 1200px) {
            margin-bottom: 60px;
            max-width: none;
        }
        @media (max-width: 990px) {
            margin-bottom: 40px;
        }
        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
        .block-text-title  {
            text-align: left;
            @media (max-width: 1200px) {
                text-align: center;
            }
        }

        .block-text-paragraph {
            margin-bottom: 30px;
        }
        .text-will-go {
            margin-bottom: 30px;
        }
    }

    .strikball-container-img {
        position: relative;
        @media (max-width: 1400px) {
            right: -50px;
        }
        @media (max-width: 1200px) {
            display: none;
        }
        .img-strikball-photo {
            position: absolute;
        }

        .strikball-img-1 {
            z-index: 1;
        }

        .strikball-img-2 {
            z-index: 2;
            left: 35%;
            top: 180px;
        }

        .strikball-img-3 {
            z-index: 3;
            left: 7%;
            top: 480px;
        }

        .strikball-img-4 {
            z-index: 4;
            left: 35%;
            top: 630px;
        }

        .strikball-img-5 {
            z-index: 5;
            left: 12%;
            top: 770px;
        }
    }

    .game-strikeball {
        padding: 50px 0;
        margin-bottom: 50px;
        background: #FBFBFB;
        position: relative;
        @media (max-width: 1280px) {
            background: transparent;
            margin-bottom: 50px;
            padding: 0;
        }
        &::before {
            content: "";
            background: #FBFBFB;
            display: block;
            height: 100%;
            width: 1100%;
            position: absolute;
            left: -400%;
            top: 0;
            @media (max-width: 1280px) {
                display: none;
            }
        }

        .game-strikeball-img {
            @media (max-width: 1400px) {
                position: relative;
                left: -100px;
            }
            @media (max-width: 1200px) {
                display: none;
            }
        }

        .game-strikeball-text {
            max-width: 880px;
            @media (max-width: 1200px) {
                max-width: none;
            }
            .block-text-title {
                text-align: right;
                @media (max-width: 1200px) {
                    text-align: center;
                }
            }
            .block-text-paragraph {
                text-align: right;
                margin-bottom: 35px;
                max-width: 880px;
                @media (max-width: 1200px) {
                    text-align: center;
                    max-width: none;
                }
            }
        }

        .game-excellence-box {
            width: 105%;
            position: relative;
            left: -80px;
            @media (max-width: 1600px) {
                width: 100%;
                left: 0;
            }
        }
    }

    .order-gallery-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 60px;
        .order-gallery-grop {
            display: flex;
            justify-content: space-between;
            @media (max-width: 1200px) {
                justify-content: center;
                flex-wrap: wrap;
            }
            .order-gallery-box {
                display: block;
                max-width: 200px;
                height: 200px;
                margin: 10px;
                transition: .3s;
                position: relative;
                @media (max-width: 1200px) {
                    margin: 10px;
                }
                &::before {
                    content: url(../img/icon/more-zoom.svg);
                    background-size: cover;
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: .2s;
                }

                &:hover {
                    filter: grayscale(80%);

                    &::before {
                        opacity: 1;
                    }
                }

                .strike-gallery-img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 3px;
                }
            }
        }
    }
    .link-gallery-box {
        margin-left: 10px;
        @media (max-width: 1200px) {
            text-align: center;
            margin: 0;
            margin-top: 15px;
        }
        .link-gallery {
            font-family: "Roboto-bold";
            font-size: 1.25rem;
            text-align: left;
            letter-spacing: .02em;
            text-transform: uppercase;
            color: $darkGreen;
            text-decoration: underline;
            @media (max-width: 768px) {
                font-size: .87rem;
            }
        }
    }
}