.blog {
    margin-bottom: 80px;
    @media (max-width: 990px) {
        margin-bottom: 60px;
    }

    .blog-wrapper {
        max-width: 1575px;
        margin: 0 auto;
    }

    .blog-short-post {
        max-width: 950px;
        margin: 0 auto;
        @media (max-width: 1600px) {
            padding: 0px 15px;
        }

        .short-post {
            margin-bottom: 50px;
            text-align: center;
            @media (max-width: 990px) {
                margin-bottom: 35px;
            }
            .short-post-img {
                border-radius: 5px;
                max-width: 100%;
                object-fit: contain;
                margin-bottom: 40px;
                @media (max-width: 768px) {
                    margin-bottom: 25px;
                }
            }
            .short-post-title {
                font-family: "Bebas-bold";
                font-size: 1.5rem;
                text-align: center;
                letter-spacing: .3em;
                text-transform: uppercase;
                margin-bottom: 20px;
                @media (max-width: 768px) {
                    font-size: 1.25rem;
                    margin-bottom: 15px;
                }

            }
            .short-post-text {
                font-family: "Roboto-light";
                font-size: .9rem;
                margin-bottom: 30px;
                @media (max-width: 768px) {
                    font-size: .87rem;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .blog-link {
        font-family: "Roboto-bold";
        font-size: .9rem;
        text-align: center;
        letter-spacing: .02em;
        text-transform: uppercase;
        color: $darkGreen;
        text-decoration: underline;
        @media (max-width: 768px) {
            font-size: .87rem;
        }
    }

    .blog-container {
        .blog-post {
            margin: 0 auto;
            margin-bottom: 30px;
            max-width: 300px;
            &:hover {
                img{
                    transform: scale(1.2);
                }
            }
            .blog-img-wpap {
                overflow: hidden;
                height: 300px;
                max-width: 300px;
                margin: 0 auto;
                @media (max-width: 1200px) {
                    height: 250px;
                }
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    transition: .5s;
                    border-radius: 5px;
                }
            }
            .blog-info {
                border: 1px solid rgba(7, 137, 129, .2);
                border-radius: 5px;
                text-align: center;
                padding: 35px 15px;
                @media (max-width: 1500px) {
                    padding: 30px 5px;
                }
                @media (max-width: 1200px) {
                    padding: 30px 15px;
                }
                .blog-title {
                    font-family: "Bebas-bold";
                    font-size: 1.125rem;
                    letter-spacing: .3em;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    position: relative;
                    @media (max-width: 768px) {
                        font-size: 1rem;
                    }
                    &::before {
                        content: "backstage";
                        font-family: "Rosa";
                        font-size: 1rem;
                        color: rgba(7, 137, 129, .5);
                        transform: rotate(-7.22deg);
                        letter-spacing: .1em;
                        text-transform: capitalize;
                        position: absolute;
                        left: 50%;
                        top: -55%;
                        transform: translate(-50%, -50%);
                        @media (max-width: 576px) {
                            display: none;
                        } 
                    }
                }
                .blog-text {
                    font-family: "Roboto-light";
                    font-size: .9rem;
                    margin-bottom: 15px;
                    @media (max-width: 768px) {
                        font-size: .87rem;
                    }
                }
            }
        }
    }
}