footer {
    background: $backColorFooter;
    padding: 40px 0;
    position: relative;
    @media (max-width: 990px) {
        padding: 10px 0;
    }
    @media (max-width: 768px) {
        padding: 30px 0;
    }
    .wrapper-footer {
        max-width: 1635px;
        margin: 0 auto;
    }
    .footer-logo {
        @media (max-width: 1200px) {
            margin-bottom: 15px;
            text-align: center;
        }
        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
        .logotype {
            margin-bottom: 10px;
            .logotype-link {
                display: block;
            }
            .logotype-img {
                @media (max-width: 1260px) {
                    height: 64px;
                }
            }
        }
        .copyright {
            font-family: "Roboto-medium";
            letter-spacing: .02em;
            font-size: .87rem;
            color: #fff;
            opacity: .7;
        }
    }
    .footer-nav {
        @media (max-width: 1200px) {
            text-align: center;
        }
        @media (max-width: 990px) {
            display: none;
        }
        .footer-nav-box {
            display: flex;
            justify-content: center;
            justify-content: row;
            margin-top: 20px;
            @media (max-width: 1024px) {
                margin: 0;
                margin-top: 30px;
                margin-left: 40px;
            }
            li {
                padding: 20px;
                @media (max-width: 1024px) {
                    padding: 10px;
                }
                a {
                    font-family: "Bebas-medium";
                    padding: 0;
                    text-transform: uppercase;
                    font-size: 1.125rem;
                    color: #fff;
                    opacity: .5;
                    transition: .5;
                    white-space: nowrap;
                    @media (max-width: 1024px) {
                        font-size: 1rem;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .icon-info {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        @media (max-width: 1200px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0;
        }
        .icon-link {
            @media (max-width: 1024px) {
                margin-bottom: 25px;
             }
             @media (max-width: 768px) {
                margin-bottom: 30px;
            }
            .icon-group {
                display: flex;
                @media(max-width: 1200px) {
                    justify-content: center;
                }
                .icon-link {
                    margin: 2.5px 5px;
                    opacity: .7;
                    transition: .5s;
                    &:hover {
                        opacity: 1;
                    }
                }
                .fix-marg {
                    position: relative;
                    top: 5px;
                    left: 5px;
                }
                .fix-marg-2 {
                    position: relative;
                    left: 8px;
                }
                .fix-marg-3 {
                    position: relative;
                    top: 4px;
                    left: 5px;
                }
            }
        }
        .short-info {
            margin-top: 10px;
            @media (max-width: 1024px) {
               margin: 0;
            }
            .info-num-box {
                margin-bottom: 5px;
                @media (max-width: 1024px) {
                    margin: 0;
                 }
            }
            .info-num {
                font-family: "Bebas-bold";
                font-size: 1.5rem;
                color: #fff;
                letter-spacing: .1em;
                white-space: nowrap;
                @media (max-width: 990px) {
                    font-size: 1.25rem;
                }
            }
            .info-email {
                font-family: "Bebas-medium";
                font-size: 1.125rem;
                text-transform: uppercase;
                color: #fff;
                opacity: .6;
                white-space: nowrap;
                @media (max-width: 990px) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.skype {
    display: block;
    width: 30px; height: 30px;
    background: url('../img/sprite/social-sprite.png') -10px -68px;
}

.phone {
    display: block;
    width: 30px; height: 30px;
    background: url('../img/sprite/social-sprite.png') -65px -10px;
}

.whatsapp {
    display: block;
    width: 30px; height: 30px;
    background: url('../img/sprite/social-sprite.png') -116px -10px;
}

.instagram {
    display: block;
    width: 30px; height: 30px;
    background: url('../img/sprite/social-sprite.png') -60px -68px;
}

.youtube {
    display: block;
    width: 35px; height: 38px;
    background: url('../img/sprite/social-sprite.png') -10px -10px;
}

.facebook{
    display: block;
    width: 20px; height: 30px;
    background: url('../img/sprite/social-sprite.png') -110px -68px;
}