.partner {
    .block-text-title {
        text-align: left;
        @media (max-width: 990px) {
            text-align: center;
        }
    }
    .partner-wrapper {
        max-width: 1575px;
        margin: 0 auto;
    }
    .partner-company-img {
        @media (max-width: 1280px) {
            text-align: center;
            margin-bottom: 70px;
        }
    }
    .partner-company {
        margin-bottom: 70px;
    }
    .parnter-company-text {
        @media (max-width: 990px) {
            text-align: center;
        }
    }
    .partner-photo {
        @media (max-width: 1280px) {
            display: none;
        }
        .partner-block-img {
            position: relative;
            height: 800px;
            .partner-box-img {
                position: absolute;
            }
            .partner-img-1 {
                z-index: 2;
                left: 17%;
                top: -160px;
            }
            .partner-img-2 {
                z-index: 1;
                left: 6%;
            }
            .partner-img-3 {
                z-index: 3;
                left: 38%;
                top: 70px;
            }
            .partner-img-4 {
                z-index: 4;
                left: 24%;
                top: 200px;
            }
            .partner-img-5 {
                z-index: 4;
                left: 60%;
                top: 260px;
            }
            .partner-img-6 {
                z-index: 5;
                left: 77%;
                top: 500px;
            }
        }
    }
    .scope-container{
        margin-bottom: 60px;
        @media (max-width: 768px) {
            margin-bottom: 70px;
        }
        .scope-box {
            max-width: 680px;
            @media (max-width: 1200px) {
                max-width: none;
            }
            li {
                position: relative;
                padding-left: 40px;
                font-family: "Roboto-medium";
                font-size: 1rem;
                letter-spacing: .03em;
                margin-bottom: 20px;
                @media (max-width: 768px) {
                    font-size: .87rem;
                }
                &::before {
                    content: "";
                    background: $lightRed;
                    display: block;
                    height: 20px;
                    width: 20px;
                    border-radius: 2px;
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}


.no-padding {
    padding: 2.5px 5px;
}